.lx-p-10{
	padding:10px;
}
.lx-mr-20{
	margin-left:20px;
}
.lx-ml-20{
	margin-left:20px;	
}
.lx-mr-25{
	margin-right:25px;
}
.lx-ml-25{
	margin-right:25px;	
}
.lx-mb-40{
	margin-bottom:0px;	
}
.lx-mt-40{
	margin-top:0px;	
}
@media(max-width:768px){
	.lx-p-10{
		padding:0px;
	}
	.lx-mr-20{
		margin-right:0px;
	}
	.lx-ml-20{
		margin-left:0px;	
	}
	.lx-mr-25{
		margin-right:0px;
	}
	.lx-ml-25{
		margin-left:0px;	
	}
	.lx-mb-40{
		margin-bottom:40px;	
	}
	.lx-mt-40{
		margin-top:40px;	
	}
}
.lx-fr{
	float:right;
}